header {
    display: flex;
    justify-content: right;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(13,40,162,1) 100%);
    color: white;
    font-size: 17px;
}

aside {
    display: flex;
    justify-content: left;
}

main {
    display: flex;
    justify-content: right;
}

.container {
    display:block;
    background-color: darkslategray;
    border-radius: 5px;
    margin: 35px;
    height: 200px;
    width: 250px;
}  

.container-header{
    font-size: 18px;
    color: white;
    justify-content: center;
}